<header class="z-0 flex h-16 select-none items-center justify-between text-slate-900">
  <div class="flex items-center gap-4" href="/">
    <a href="/">
      <img src="/assets/logo-epikart-small.png" class="h-10" alt="" />
    </a>
  </div>
  <button aria-label="Show navigation button" onclick="showNav()" class="lg:hidden">
    <svg
      class="fill-black dark:fill-white"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      aria-hidden="true"
      role="img"
      class="iconify iconify--fe"
      width="32"
      height="32"
      preserveAspectRatio="xMidYMid meet"
      viewBox="0 0 24 24"
    >
      <path d="M3 16h18v2H3v-2zm0-5h18v2H3v-2zm0-5h18v2H3V6z" fill-rule="evenodd"></path>
    </svg>
  </button>
  <div class="hidden items-center gap-8 text-red-500 dark:text-red-400 lg:flex">
    <a class="text-xl font-medium leading-8 underline-offset-2 hover:underline" href="/project-presentation">Project Presentation</a>
    <a class="text-xl font-medium leading-8 underline-offset-2 hover:underline" href="/links">Links</a>
    <a href="/reports" class="rounded-xl py-1 px-4 text-xl font-medium leading-8 shadow-lg shadow-red-200 transition-all duration-200 hover:shadow-lg hover:shadow-red-300 dark:shadow-red-500/50">
        Reports
    </a>
    <button aria-label="Set color mode button" onclick="setColorMode()" class="relative h-6 w-6">
      <svg
        id="switch-icon-sun"
        class="switch-icon-sun absolute top-0 right-0 opacity-0 ease-in-out"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-sun"
      >
        <circle cx="12" cy="12" r="5"></circle>
        <line x1="12" y1="1" x2="12" y2="3"></line>
        <line x1="12" y1="21" x2="12" y2="23"></line>
        <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
        <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
        <line x1="1" y1="12" x2="3" y2="12"></line>
        <line x1="21" y1="12" x2="23" y2="12"></line>
        <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
        <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
      </svg>
      <svg
        id="switch-icon-moon"
        class="switch-icon-moon absolute top-0 right-0 rotate-[359deg] opacity-0 ease-in-out"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-moon"
      >
        <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
      </svg>
    </button>
  </div>
  <nav id="mobile-nav" class="fixed -top-full bottom-full left-0 right-0 z-20 overflow-hidden bg-white transition-all duration-500 dark:bg-slate-900">
    <div class="mx-auto mt-8 flex w-1/2 flex-col items-center justify-center gap-0 opacity-100">
      <div id="epikart-title-mobile" class="flex flex-col gap-4 transition-all delay-300 duration-1000" href="/">
        <svg class="fill-red-500 stroke-1" xmlns="http://www.w3.org/2000/svg" viewBox="0.000 0.000 24.000 24.000" width="32" height="32">
          <path
            d="M12 1C5.925 1 1 5.925 1 12s4.925 11 11 11 11 -4.925 11 -11S18.075 1 12 1zm5.143 16 -2.367 -6.939 -2.809 3.469 -2.742 -3.469L6.775 17 4 14.755 8.449 5.49l3.518 4.163 3.502 -4.163L20 14.755 17.143 17z"
          />
        </svg>
        <p class="sp:text-5xl spp:text-4xl text-3xl font-bold text-slate-900 dark:text-white">
          <a ="/">EpiKart Menu</a>
        </p>
      </div>
      <div class="sp:gap-8 sp:mt-16 spp:gap-4 spp:mt-8 mt-4 flex flex-col justify-start gap-2 text-red-500 dark:text-red-400">
        <a
          class="nav-items sp:text-3xl spp:text-2xl -translate-x-1/2 text-xl font-medium leading-8 underline-offset-2 opacity-0 transition-all delay-75 duration-1000 hover:underline"
          href="/project-presentation"
          >Project Presentation</a
        >
        <a class="nav-items sp:text-3xl spp:text-2xl -translate-x-1/2 text-xl font-medium leading-8 underline-offset-2 opacity-0 transition-all delay-150 duration-1000 hover:underline" href="/links"
          >Links</a
        >

          <a href="/reports" class="sp:text-3xl spp:text-2xl spp:py-4 rounded-xl bg-red-500 py-2 px-2 text-xl font-medium leading-8 text-white shadow-lg shadow-red-200 transition-all duration-200 hover:bg-red-600 hover:shadow-lg hover:shadow-red-300 dark:text-slate-800 dark:shadow-red-500/50 text-center"> Reports </a>
         
        <button aria-label="Set color mode button" onclick="setColorMode()" class="relative mx-auto h-10 w-10">
          <svg
            id="switch-icon-sun"
            class="switch-icon-sun absolute inset-0 h-10 w-10 opacity-100 ease-in-out"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-sun"
          >
            <circle cx="12" cy="12" r="5"></circle>
            <line x1="12" y1="1" x2="12" y2="3"></line>
            <line x1="12" y1="21" x2="12" y2="23"></line>
            <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
            <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
            <line x1="1" y1="12" x2="3" y2="12"></line>
            <line x1="21" y1="12" x2="23" y2="12"></line>
            <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
            <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
          </svg>
          <svg
            id="switch-icon-moon"
            class="switch-icon-moon absolute inset-0 h-10 w-10 rotate-[359deg] opacity-0 ease-in-out"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-moon"
          >
            <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
          </svg>
        </button>
        <button aria-label="Hide navigation button" onclick="hideNav()" class="mx-auto">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            aria-hidden="true"
            role="img"
            class="iconify iconify--fe"
            width="32"
            height="32"
            preserveAspectRatio="xMidYMid meet"
            viewBox="0 0 24 24"
          >
            <path
              d="M10.657 12.071L5 6.414L6.414 5l5.657 5.657L17.728 5l1.414 1.414l-5.657 5.657l5.657 5.657l-1.414 1.414l-5.657-5.657l-5.657 5.657L5 17.728z"
              fill="currentColor"
              fill-rule="evenodd"
            ></path>
          </svg>
        </button>
      </div>
    </div>
  </nav>
</header>
