<!DOCTYPE html>
<html lang="en">
  {% include "_head.html" %}
  <body onload="setColorTheme()" class="mx-8 bg-slate-50 transition-all ease-in-out dark:bg-slate-900 md:mx-32">
    {% include "_header.html" %}
    <div class="h-full relative">
      <div class="my-16 mx-4 prose prose-slate  dark:prose-invert ">
        {{ content | safe }}
      </div>
    </body>
  </body>
</html>