<!DOCTYPE html>
<html lang="en">
  {% include "_head.html" %}
  <body onload="setColorTheme()" class="mx-8 bg-slate-50 transition-all ease-in-out dark:bg-slate-900 md:mx-32">
    {% include "_header.html" %}
    <div class="h-full ">
      <div class="my-16  mx-4 prose-pre:min-w-[80ch] prose-pre:w-[fit-content] prose prose-slate  dark:prose-invert prose-h2:font-semibold ">
        {{ content | safe }}
      </div>
    </body>
  </body>
</html>