<!DOCTYPE html>
<html lang="en">
  {% include "_head.html" %}
  <body onload="setColorTheme()" class="md:mx-32 mx-8 transition-all duration-1000 dark:bg-slate-900 bg-slate-50">
    {% include "_header.html" %}
    <div class="h-full relative">
      <div class="mt-16 w-3/4 mx-auto prose prose-slate prose-pre:bg-[#0d1117] dark:prose-invert ">
        {{ content | safe }}
      </div>
    </body>
  </body>
</html></div></body></body></html>