---
layout : layouts/base.njk
---

<div class="my-16  mx-4 prose-pre:min-w-[80ch] prose-pre:w-[fit-content] prose prose-slate  dark:prose-invert prose-h2:font-semibold prose-a:font-normal">
  {{ content | safe }}
</div>
