<!DOCTYPE html>
<html lang="en">
  {% include "_head.html" %}
  <body onload="setColorTheme()" class="md:mx-32 mx-8 transition-all duration-1000 dark:bg-slate-900 bg-slate-50">
    <div class="h-full relative">
      {% include "_header.html" %}
      <div class="pt-20 flex justify-center flex-col items-center gap-10">
        <div class="prose pro-stone dark:text-white  dark:prose-invert ">
          <h1 class="">How to download our project </h1>
          <p class="opacity-75">Only available on windows for now</p>
          <ul>
            <li>Download the given file ZIP :  <a href="https://github.com/Team-BINBINKS/EpiKart-S2-Project/releases">
                EpiKart Preview Build
              </a>
            </li>
            <li>Unzip this file </li>
            <li>Run the Epikart.exe </li>
          </ul>
        </div>
      </div>
    </body>
  </body>
</html>